# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual Environment
venv/
.env
.env.*

# ==========================
# Uploads (temporary images)
# ==========================
uploads/

# ==========================
# Python cache
# ==========================
.pytest_cache/
.mypy_cache/
.coverage

# ==========================
# macOS
# ==========================
.DS_Store

# ==========================
# IDE
# ==========================
.vscode/
.idea/

# ==========================
# Node
# ==========================
frontend/node_modules/
frontend/dist/

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Docker
# ==========================
*.pid